body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: background-color 1s ease;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
